-i https://pypi.org/simple
altgraph==0.17.4
certifi==2024.8.30 ; python_version >= '3.6'
charset-normalizer==3.3.2 ; python_full_version >= '3.7.0'
click==8.1.7
docker==7.1.0
exceptiongroup==1.2.2 ; python_version < '3.11'
idna==3.8 ; python_version >= '3.6'
importlib-metadata==8.4.0 ; python_version < '3.10'
iniconfig==2.0.0 ; python_version >= '3.7'
packaging==24.1 ; python_version >= '3.8'
pluggy==1.5.0 ; python_version >= '3.8'
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8 ; python_version >= '3.8'
pytest==8.3.2
requests==2.32.3 ; python_version >= '3.8'
setuptools==74.1.2 ; python_version >= '3.8'
tomli==2.0.1 ; python_version < '3.11'
urllib3==2.2.2 ; python_version >= '3.8'
zipp==3.20.1 ; python_version >= '3.8'
